
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        404
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ __site_url '' }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">404</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
<div class="box" style="padding:15px;margin:15px;">
<p><h1>404 Notfound !!!</h1></p>
<p><i>this page will redirect in 3 seconds...</i></p>
<meta http-equiv="refresh" content="3; url={{ __site_url '' }}" />
</div>
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
